@model TFIGestionProveedores04.Calificacion_Proveedor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Calificacion_Proveedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calificacion.idCalificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificacion.idCalificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.RazonSocial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCalificacion_Proveedor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
